body {
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.box-success {
    margin: 100px 0;
}

.box-success .box-success__img {}

.box-success .box-success__title {
    font-weight: 800;
    font-size: 95px;
    margin: 22px 0 16px;
    color: rgba(107, 104, 236, 1);
}

.box-success .box-success__text {
    color: rgba(72, 72, 85, 1);
    font-weight: 600;
    font-size: 22px;
    margin: 5px 0;
}

.box-success .box-success__button {
    display: inline-block;
    color: #fff;
    background-color: rgba(28, 28, 37, 1);
    padding: 35px 85px;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 66px;
    font-size: 18px;
}