.input-group {
   margin: 10rem 0 -6.8rem 0;
   position: relative;
   max-width: 100%;
   width: 100%;
   .input {
      @include transition-ease;
      width: 100%;
      height: 3rem;
      padding: 0 1rem 0 2.5rem;
      border: 2px solid transparent;
      border-radius: .5rem;
      outline: none;
      background-color: getColor(primary-bg-color);
      color: getColor(primary-color);
      box-shadow: $box-shadow-main;
   }
   .input::placeholder,
   .icon {
      color: #999;
   }
   .icon {
      @include positionTopLeft(absolute, .8rem, .9rem, 0);
      font-size: 1.25rem;
   }
}

